node_modules
.wrangler
.dev.vars
dist

# Entorno y secretos
.env
.env.local
.env.*.local

# Wrangler autogenera este archivo desde `wrangler types`
worker-configuration.d.ts
.superpowers
.claude

# Logs
*.log

# Editor
.vscode
.idea
.DS_Store

pnpm-lock.yaml
.dev.vars
docker-compose.yml
/scripts/*